.ignore
node_modules
package-lock.json
.terraform
terraform.plan
terraform.tfvars
tfplan
*.tfstate
*.tfstate.backup
.key
.ecr
kubeconfig_*
.terraform.tfstate.lock.info
*.tgz
Chart.lock
.env
secrets.auto.tfvars
